._1enh {
  ul {
    li {
      all: initial;
    }
  }
  ._1qt3 {
    display: none;
  }
}

._36ic {
  content: 'yoyoyo';
}

.fake-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

._1qt4._5l-m {
  all: initial;
  font-family: Arial, monospace;
  font-size: 5px;
  margin-top: 10px;
}

._4_j5 {
  display: none;
}

.dictionary {
  font-size: 32px;
  font-weight: bold;
}